<!--When details are entered wrong this page will be popped-->
<html>

<head>
    <style>
        html,body {
        background-image: url("/static/display.webp");
        height: 80%;
        background-repeat: no-repeat;
        background-size: cover
        }
        a:link {
            text-decoration: none;
            }

        a:visited {
            text-decoration: none;
            }

        a:hover {
            text-decoration: underline;
            }

        a:active {
            text-decoration: underline;
            }
    </style>
</head>
<body>

    <center>
        <h1><b>Check your details!!</b></h1>
        <a href="logoutbuyer">Return to homepage</a></center> 
</body>
</html>