<!--When seller login credentials are verified and jwt token is created, this page pops up-->
<html>
   <head>
      <title>Login Sucess</title>
      <style>
         html,body {
        background-image: url("/static/display.jpg");
        height: 80%;
        background-repeat: no-repeat;
        background-size: cover
        }
         a:link {
            text-decoration: none;
            }

         a:visited {
            text-decoration: none;
            }

         a:hover {
            text-decoration: underline;
            }

         a:active {
            text-decoration: underline;
            }
      </style>
   </head>
<body>
<b><font face="Comic Sans MS" size="6" color="black"></font>
  <marquee> Login Success Admin!!! </marquee>
Welcome {{ id }}
   <br><br>
   <center>
   <a href="insert">Insert Detail</a> <br>
   <br><br>
   <a href="view">View</a> </center>
   </font></b>
</body>

</html>